/*CSS DOCUMENT*/
@charset "UTF-8";

/*---------------------------------
-----------TIPOGRAFÍAS-----------
---------------------------------*/

/* RECOLETA*/
@font-face {
    font-family: "Recoleta-Thin";
    src: url(fonts/Recoleta/Recoleta-Thin.ttf);}
@font-face {
    font-family: "Recoleta-Light";
    src: url(fonts/Recoleta/Recoleta-Light.ttf);}
@font-face {
    font-family: "Recoleta-Regular";
    src: url(fonts/Recoleta/Recoleta-Regular.ttf);}
@font-face {
    font-family: "Recoleta-Medium";
    src: url(fonts/Recoleta/Recoleta-Medium.ttf);}
@font-face {
    font-family: "Recoleta-SemiBold";
    src: url(fonts/Recoleta/Recoleta-SemiBold.ttf);}
@font-face {
    font-family: "Recoleta-Bold";
    src: url(fonts/Recoleta/Recoleta-Bold.ttf);}
@font-face {
    font-family: "Recoleta-Black";
    src: url(fonts/Recoleta/Recoleta-Black.ttf);} 

/*FUENTE SECUNDARIA: PLAYFAIR DISPLAY*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Yeseva+One&display=swap');

/*-----------CONFIGURACIONES GENERALES-----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-wrap: pretty;
    border-radius: 25px;

}

body{
    font-family: 'Recoleta-Medium', 'PlayFair Display' , serif;
    background-color: #a828b1;
    color: whitesmoke;    
}

/*body h2{
    text-align: center;
}*/


/*--------------------------------
-------------HEADER---------------
---------------------------------*/

#logo-agus-maymo{
    width: 300px;
}

#barra-navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    min-width: 40px;
    margin: 12px;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

.flex-container a{
    color: #fcb64d;
    padding: 10px 20px;
    border-color: #fcb64d;
    border-radius: 3;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    min-width: 80px;
}

.flex-container li{
    list-style: none;

}

#contacto{
    color: #a828b1;
    background-color: #fcb64d;
    padding: 10px 18px;
    font-family: 'Recoleta-Black','PlayFair Display' , serif;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items:center;
    justify-content: center;
}

#contacto a{
    display: flex;
    justify-items: center;
    align-items: center;
}


/*-------------------------------
-------------MAIN----------------
---------------------------------*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    max-width: 1920px;
    
}

#hero {
    background-color: #ffbee6;
    color: #a828b1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    padding: 5px;        
}

.quien-soy {
    min-width: 521px;
    max-width: 521px;
    padding: 10px;
}

.quien-soy p {
    padding: 12px;
}

#foto-perfil{
    height: auto;
    min-width: 180px;
    max-width: 300px;
    padding: 10px;
}

/*---------------------------------
-----------HABILIDADES-------------
---------------------------------*/

#habilidades {
    margin: 20px;
}

#habilidades h2{
    padding: 10px;
}

.grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1700px;
    gap: 30px;
    
}

.grilla article{
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    border: #6cae75;
    border-style: dashed;
    border-width: 3px;
}



/*---------------------------------
-----------EXPERIENCIA-------------
---------------------------------*/

#experiencia{
    background-color: #fcb64d;
    padding: 3vh;
    margin: 2vh;
    display: flex;
    flex-direction: column;
}

#experiencia h2{
    align-self: flex-start;
}

.grilla-experiencia {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
}

.grilla-experiencia article{
    max-width: 19vw;
    margin: 3vh;
}

.grilla-experiencia img{
    height: 20vh;
    border-radius: 10px;
}

#experiencias-y-boton{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end
}

#experiencias-y-boton a{
    padding: 10px;
    background-color: #a828b1;
    color: #fcb64d;
    text-decoration: none;
    align-self: flex-end;
    }  

/*---------------------------------
-----------HERRAMIENTAS------------
----------------------------------*/
#herramientas {
    background-color: #6cae75;
}


/*---------------------------------
---------TRABAJEMOS JUNTOS---------
----------------------------------*/

#trabajemos-juntos{
    margin: 2vh;
    height: 12vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#trabajemos-juntos article{
    display: flex;
    align-items:center;
    justify-content: center;
}

#trabajemos-juntos a {
    margin: 1vh;
    color: whitesmoke;
    background-color: #a828b1;
    text-decoration: none;
    padding: 1vh;
    align-self: center;
    
}


/*---------------------------------
-----------FOOTER------------------
--------------------------------- */

.ul-nav-footer {
    background-color: #6cae75;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
    
.a-footer {
    text-decoration: none;
    margin: 1vh;
    padding: 1vh;

}

.li-footer{
    
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}