/*CSS DOCUMENT*/
@charset "UTF-8";

/*---------------------------------
-----------TIPOGRAFÍAS-----------
---------------------------------*/

/* RECOLETA*/
@font-face {
    font-family: "Recoleta-Thin";
    src: url(fonts/Recoleta/Recoleta-Thin.ttf);}
@font-face {
    font-family: "Recoleta-Light";
    src: url(fonts/Recoleta/Recoleta-Light.ttf);}
@font-face {
    font-family: "Recoleta-Regular";
    src: url(fonts/Recoleta/Recoleta-Regular.ttf);}
@font-face {
    font-family: "Recoleta-Medium";
    src: url(fonts/Recoleta/Recoleta-Medium.ttf);}
@font-face {
    font-family: "Recoleta-SemiBold";
    src: url(fonts/Recoleta/Recoleta-SemiBold.ttf);}
@font-face {
    font-family: "Recoleta-Bold";
    src: url(fonts/Recoleta/Recoleta-Bold.ttf);}
@font-face {
    font-family: "Recoleta-Black";
    src: url(fonts/Recoleta/Recoleta-Black.ttf);} 

/*FUENTE SECUNDARIA: PLAYFAIR DISPLAY*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Yeseva+One&display=swap');

/*-----------CONFIGURACIONES GENERALES-----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    border-radius: 10px;
}

body{
    font-family: 'Recoleta-Medium', 'PlayFair Display' , serif;
    background-color: #a828b1;
    color: whitesmoke;
}


/*--------------------------------
-------------HEADER---------------
---------------------------------*/

#logo-agus-maymo{
    width: 300px;
}

#barra-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    padding: 2vh;
}

#nav-left{
    display: flex;
    align-items: center;
    gap: 14px;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 0;
    padding: 0;
}

.flex-container a{
    color: #fcb64d;
    padding: 10px 20px;
    border-color: #fcb64d;
    border-radius: 3;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.flex-container li{
    list-style: none;
    margin: 0;

}

#contacto{
    color: #a828b1;
    background-color: #fcb64d;
    padding: 10px 18px;
    font-family: 'Recoleta-Black','PlayFair Display' , serif;
    list-style: none;
    text-decoration: none;
    margin-left: auto;
    display: flex;
    align-items:center;
    justify-content: center;
}

#contacto a{
    display: flex;
    justify-items: center;
    align-items: center;
}


/*-------------------------------
-----------QUIÉN SOY-------------
---------------------------------*/

#hero {
    background-color: #ffbee6;
    color: #a828b1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.quien-soy {
    max-width: 500px;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

#foto-perfil{
    height: 50vh;
    padding: 0 30px 0 0;
    border-radius: 20px;

}

/*---------------------------------
-----------HABILIDADES-------------
---------------------------------*/

#habilidades {
    margin: 2vh;
    padding: 1vh, 1vh, 1vh, 13vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
/*      align-content: flex-start;*/
}

.grilla-habilidades{
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}
/*
.grilla-habilidades h2{
    padding: 2vh;
}*/

.grilla-habilidades article{
    max-width: 500px;
    /*padding: 2vh;*/
}



/*---------------------------------
-----------EXPERIENCIA-------------
---------------------------------*/

#experiencia{
    background-color: #fcb64d;
}



#herramientas {
    background-color: #6cae75;
}



#trabajemos-juntos{
    background-color: black;
}
.trabajemos-juntos a {
    color: whitesmoke;
    text-decoration: none;}


/*---------------------------------
-----------FOOTER------------------
--------------------------------- */

.ul-nav-footer {
    background-color: #6cae75;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
    
.a-footer {
    text-decoration: none;
}

.li-footer{
    
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}